

.picture {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: space-around;
    justify-items: center;
    margin: 25px;
}

.picture img {
    justify-content: space-around;
    justify-items: center;
    display: block;
    width: 235px;
    height: 220px;
    margin: 1rem;
    padding: 1px;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

figure {
    display: block;
}

form {
    background-color: rgb(185, 194, 191);
    display: grid;
    -ms-grid-row-align: var(--accent1-color);
}

button {
    align-items: center;
    display: flex;
    background-color: rgb(126, 126, 155);
}

input,
textarea {
    padding: 1rem;
    margin: 1rem;
    box-sizing: content-box;
}

.submit {
    margin: 1em;
    padding: 1.5px;
}