@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
   --primary-color: #d6f6dd;
   --secondary-color: #dac4f7;
   --accent1-color: #f4989c;
   --accent2-color: #ebd2b4;

   --heading-font: 'Roboto', sans-serif;
   --paragraph-font: 'Roboto', sans-serif;

   --nav-background-color: #025564;
   --nav-link-color: #e3e3e3;
   --nav-hover-link-color: #025564;
   --nav-hover-background-color: #e3e3e3;
}

*,
*::after,
*::before {
   box-sizing: border-box;
}

img {
   height: auto;
   width: 100%;
}



header,
main,
footer {
   max-width: 1000px;
   margin: 0 auto;
}

header {
   display: grid;
   grid-template-columns: 1fr 2fr;
   align-items: center;
   justify-items: center;
   background-color: #5870c09c;
   margin: 10px auto;
}

header img {
   border-radius: 100%;
   width: 100%;
}


nav {
   display: flex;
   justify-content: space-around;
}
footer a {
   text-decoration: none;
}
footer {
   
   background-color: #476d74
}
head {
   width: 100%;
}


nav a {
   color: var(--nav-link-color);
   padding: 1em;
   text-decoration: none;
   ;
}

nav a:hover {
   background-color: var(--nav-hover-background-color);
   color: var(--nav-hover-link-color);
}

.logo {
   max-width: 200px;
}

.sociallinks {
   text-decoration: none;
}

.hero {
   position: relative
}

.hero h1 {
   position: absolute;
   top: 50px;
   left: 50px;
   right: 50px;
   text-align: center;
}

.hero img {
   display: block;
   width: 100%;
   height: 500px;
}

article {
   position: absolute;
   top: 150px;
   left: 50px;
   right: 50px;
   background-color: var(--secondary-color);
   padding: 10px;
   opacity: 1;
}

.hero article img {
   background-position: center;
   width: 230px;
   height: auto;
   float: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   display: grid;
   font-family: var(--heading-font);
   color: rgb(128, 179, 221)
}

section {

   grid-template-columns: 1fr 5px 200px 1fr;
   grid-template-rows: 50px 1fr;
   justify-items: center;
   align-items: center;
   justify-content: space-between;
}

.contact-main {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}

.contact-h1 {
   grid-column: 1/-1;
}

.address {
   grid-column: 1/3;
   display: flex;
   flex-direction: column;
}

.map {
   grid-column: 3/5;
}

.picture {
   grid-column: 1/-1;
   display: grid;
   grid-template-columns: repeat(3, 200px);
   justify-content: space-around;
   justify-items: center;
   
}

.picture img {
   justify-content: space-around;
   justify-items: center;
   display: block;
   width: 235px;
   height: 220px;
   margin: 1rem;
   padding: 1px;
}

figcaption {
   text-align: center;
   font-style: italic;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

figure {
   display: block;
}

.form-tite {
   grid-column: 1/-1;
   justify-self: center;
}


   form {
      width: 650px;
      margin: 10px 0;
      padding: 1rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0.5rem;
      background-color: #eee;
      display: grid;
      font-size: 18px;
  }


label {
   grid-column: 1;
   justify-self: right;
}

button {
   align-items: center;
   display: flex;
   background-color: rgb(126, 126, 155);
}

.textarea {
   grid-column: 1/-1;
   display: flex;
   flex-direction: column;
}
footer a {
   grid-column: 1 / 2;
   grid-row: 1 / 2;
}

input,
textarea {
   padding: 1rem;
   margin: 1rem;
   box-sizing: content-box;
}

.submit {
   grid-column: 1/-1;
   margin: 2em;
 
   padding: 1em;
   border-radius: 10px;
}

.radio-item {
   grid-column: 1/-1;
}

.checkbox-item {
   grid-column: 1/-1;
}

main {
   background-color: rgb(126, 126, 155);
}

.cta {
   color: var(--primary-color);
   background-color: var(--nav-background-color);
   border-radius: 10px;
   cursor: pointer;
   font-size: 0.9rem;
   padding: 1em 2em;
   margin: 3em;
}


.prompt {
   position: relative;
   max-width: 600px;
   font-size: 32px;
   text-align: center;
   margin-top: 15px;
   grid-area: prompt;
}

.prompt h1 {
   color: var(--accent1-color);
   position: absolute;
   background-color: rgba(0, 0, 0, .6);
   top: 10px;
   left: 0;
   right: 0;
   max-width: 600px;
}

.p {
   display: grid;
   align-items: center;
}


.prompt img {
   max-width: 600px;
}

.flex-collage {
   grid-area: collage;
}

section img {
   display: flex;
   font-display: var(--heading-font);
}

div {
   display: grid;
   align-items: center;
}

.grid-trips {
   display: grid;
   max-width: 1200px;
   grid-template-columns: 5fr 4fr;
   grid-template-areas:
      "prompt trip-table"
      "collage collage";
   justify-items: center;
}

article {
   background-color: #ccc;
   margin-left: 10px;
   font-size: 18px;
   text-align: center;
}

.thead {
   display: table-header-group;
   vertical-align: middle;
}

.tr {
   display: table-row;
   vertical-align: inherit;
}

th,
td {
   border: 2px solid rgb(173, 123, 47);
   border-radius: 10px;
   /* padding: 0 10px; */
   background-color: #ccc;
}

section h1,
h2,
h3,
h4,
h5,
h6 {
   align-items: center;
   display: grid;
   font-family: var(--heading-font);
   color: rgb(128, 179, 221);
}

thead th {
   background-color: var(--accent2-color);
   padding: 10px 5px;
}

table {
   border: 5px solid var(--accent2-color);
   border-radius: 15px;
   background-color: rgb(173, 123, 47);
   text-align: center;
   text-wrap: nowrap;
   grid-area: trip-table;
}

.hero {
   position: relative;
   grid-area: hero;
}

section {
   margin: 10%;
}

.home {
   max-width: 560px;
   justify-self: center;
}

.flex-form {
   display: flex;
   justify-content: center;
   grid-area: news-form;
}

.grid-home {
   display: grid;
   max-width: 1200px;
   grid-template-columns: 1fr 1fr;
   grid-template-areas:
      "hero hero"
      "news-form prompt"
      "services services";
}

.grid-services {
   display: grid;
   grid-area: services;
   grid-template-columns: 1fr 1fr;
   justify-items: center;
}

 .prompt  {
   background-color: #ddd;
   border: 5px solid var(--accent2-color);
   border-radius: 15px;
   padding: 0 15px 15px;
}