@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #d6f6dd;
    --secondary-color: #dac4f7;
    --accent1-color: #f4989c;
    --accent2-color: #ebd2b4;
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
    --nav-background-color: #xxxxxx;
    --nav-link-color: #xxxxxx;
    --nav-hover-link-color: #xxxxxx;
    --nav-hover-background-color: #xxxxxx;
}
 * {
    box-sizing: border-box;
 }
body {
    font-family: var(--paragraph-font);
}
h1,
h2,
h3,
h4,
h5,
h6
 {
    font-family: var(--heading-font);
    color: #000;
}
img {
    width: 100%;
}
header, main, footer {
    max-width: 1000px;
    margin: 0 auto;
}
.logo {
    max-width: 200px;
}
.sociallinks {
    text-decoration: none;
}
.hero {
position: relative
}
.hero h1 {
    position:absolute;
    top: 50px;
    left:50px;
    right: 50px;
    text-align: center;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
article {
    position:absolute;
    top: 150px;
    left:50px;
    right: 50px;
    background-color: var(--secondary-color);
    padding: 10px;
}
.hero article img {
    background-position: center;
    width: 200px;
    height: auto;
    float: right;
}